# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.BeeEngine.Drawing.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/Test/bin/
/Test/obj/
/BeeEngine.OpenTK/obj/
/BeeEngine.OpenTK/bin/
